.me {
    font-size: 40px
}

.description {
    font-size: 30px;
}
@media (max-width: 768px) {
    .me {
        font-size: 30px;
    }
}
@media (min-width: 1024px) {
    .me {
        margin-top: 10rem;
        margin-left: 3rem;
    }
    .description {
        margin-left: 3rem;
    }
}